*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-transform: uppercase;
    text-align: center;
    color: #ffc600;
    padding-top: 100px;
}
.container{
    height: 100vh;
    background: url('/img/danny-howe-gwQAhisLnRA-unsplash.jpg') center center / cover no-repeat;
}
.keys{
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    height: 400px;
    align-items: center;
    justify-content: center;
    
}
.key{
    border: 2px solid gray;
    margin-right: 15px;
    border-radius: 5px;
    min-width: 90px;
    padding: 10px;
    text-align: center; 
    transition: all 0.1s;   
}
kbd{
    display: block;
    font-size: 30px;
}
.sound{
    text-transform: uppercase;
    color: #ffc600;
    font-size: 16px;
}
.active{
    border: 2px solid orange;
    box-shadow: 0 0 5px orange;
    transform: scale(1.2);
    
}